.container {
  display: flex;
  height: 100px;
  align-items: center;
  border: 2px solid blue;
}
.item {
  border: 2px solid red;
}
.item:nth-child(1) {
  order: 1;
}
.item:nth-child(2) {
  order: 3;
}
.item:nth-child(3) {
  order: 2;
}
