.container {
  display: flex;
  align-items: center;
  height: 100px;
  border: 2px solid blue;
}
.item1,
.item2,
.item3 {
  border: 2px solid red;
}
.item1 {
  font-size: 30px;
}
.item3 {
  font-size: 20px;
}
