.container1 {
  display: flex;
  height: 100px;
  border: 2px solid blue;
  flex-direction: row-reverse;
  margin-bottom: 20px;
}
.container2 {
  display: flex;
  height: 100px;
  border: 2px solid green;
  flex-direction: column-reverse;
}
.item {
  border: 2px solid red;
}
