.container {
  display: flex;
  height: 100px;
  border: 2px solid blue;
}
.item,
.itme2,
.item3 {
  border: 2px solid red;
}
.item1 {
  flex-grow: 1;
}
.item2 {
  flex-grow: 3;
}
.item3 {
  flex-grow: 1;
}
