.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: pink;
  padding: 10px;
}
h1 {
  margin: 0;
}
ul {
  list-style: none;
  display: flex;
}
li {
  margin: 0 10px;
}
a {
  display: inline-block;
  padding: 10px 30px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}
