.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  border: 2px solid blue;
  gap: 10px;
}
.item {
  border: 2px solid red;
}
.item:nth-child(1) {
  background-color: yellow;
  grid-column-start: 1;
  grid-column-end: 3;
}
