.box1 {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: move;
  animation-duration: 5s;
  animation-timing-function: linear;
}
@keyframes move {
  0% {
    width: 200px;
  }
  100% {
    width: 500px;
  }
}
