.box1 {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 100px;
  height: 100px;
  background-color: pink;
}
.box2 {
  position: fixed;
  left: 50px;
  top: 50px;
  width: 100px;
  height: 100px;
  background-color: red;
}
.box3 {
  position: fixed;
  left: 100px;
  top: 100px;
  width: 100px;
  height: 100px;
  background-color: blue;
}
